<app-header></app-header>
<div class="sub-body">
    <div class="container">
        <div class="row">
            <br><br>
            <div class="col s12 m8">
                <div *ngIf="loader" class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                <app-one-post [posts]="posts"></app-one-post>
            </div>
            <div class="col s12 m4">
                <app-side-bar></app-side-bar>
                <app-sub-group-side-bar></app-sub-group-side-bar>
            </div>
        </div>
    </div>

</div>