      <div class="card white">
        <div class="card-image">
          <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
        </div>
        <div class="card-content black-text">
            <div style="text-align: center; font-size: 1em">Welcome to Spring AskAnything home page.</div>
        </div>
        <div class="card-action center-align">
            <button class="waves-effect btn blue" style="margin-top: 4px; margin-left:4px;" (click)="goToCreatePost()">Create Post</button>
            <button class="waves-effect btn" style="margin-top: 4px;margin-left:4px" (click)="goToCreateSubGroup()">Create Communitie</button>
        </div>
      </div>