<app-header></app-header>
<div class="sub-body">
    <div class="container">
        <div class="row">
            <br><br>
            <div class="card-panel white">
                <span class="black-text text-darken-2"><h4 class="center-align">{{community.communityName}}</h4></span>
                <span class="black-text text-darken-2">{{community.description}}</span>
                <span class="right">Total Posts: {{community.numberofPosts}}</span>
              </div>
            <div class="col s12 m8">
                <app-one-post [posts]="posts"></app-one-post>
            </div>
            <div class="col s12 m4">
                <app-sub-group-side-bar></app-sub-group-side-bar>
            </div>
        </div>
    </div>

</div>