<div class="container">
        <div class="row">
            <div class="col m3">
            </div>
            <div class="col s12 m12 l6">
                    <div class="card">
                      <div class="card-content">
                        <span class="card-title"><h3>Change Password</h3></span>
                        <form [formGroup]="resetpassword">
                            <div class="row">
                                <span class="red-text" *ngIf="!resetpassword.get('password').valid && resetpassword.get('password').touched">
                                    password cannot be empty
                                  </span>
                                <div class="input-field col s12 m12">
                                  <input id="password" type="password" formControlName="password" name="username">
                                  <label for="password">password</label>
                                </div>
                              </div>
                              <div class="row">
                                <span class="red-text" *ngIf="!resetpassword.get('confirmpassword').valid && resetpassword.get('confirmpassword').touched">
                                    password cannot be empty
                                  </span>
                                <div class="input-field col s12 m12">
                                  <input id="confirmpassword" type="password" formControlName="confirmpassword" name="confirmpassword">
                                  <label for="confirmpassword">confirmpassword</label>
                                </div>
                              </div>
                              <button class="waves-effect waves-light btn" [disabled]="!resetpassword.valid" type="submit" (click)="reset()">Submit</button>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
 </div>
