<app-header></app-header>
<div class="container">
    <span class="center-align"><h3>Create Post</h3></span>
    <hr/>
    <br>
        <div class="col m9">
            <div class="card">
                <div class="card-content">
                            <form [formGroup]="postForm">
                                <div class="row">
                                <input type="text" formControlName="postName" class="form-control" style="margin-top: 5px"
                                    placeholder="Title">
                        
                                <input type="text" class="form-control" formControlName="url" style="margin-top: 5px" placeholder="URL">

                                <select class="browser-default" style="margin-top: 10px" formControlName="subGroupName">
                                    <option value="" selected disabled>Select Communitie</option>
                                    <option *ngFor="let item of subgroups" [value]="item.subredditName">{{item.subredditName}}</option>
                                  </select>
                                  <br>
                                <editor  formControlName="description"
                                apiKey="2xy4fbkttkewzsfnqyqf2khs90xp2chtdqlbrz2j0zffvu3o"
                                  [init]="{
                                    height: 200,
                                    menubar: false,
                                    plugins: [
                                      'advlist autolink lists link image charmap print preview anchor',
                                      'searchreplace visualblocks code fullscreen',
                                      'insertdatetime media table paste code help wordcount'
                                    ],
                                    toolbar:
                                      'undo redo | formatselect | bold italic backcolor | \
                                      alignleft aligncenter alignright alignjustify | \
                                      bullist numlist outdent indent | removeformat | help'
                                  }"
                                ></editor>
                                    <div style="margin-top: 25px">
                                        <button (click)="discardPost()" class="waves-effect waves-light btn red">Discard</button>
                                        <button class="btnCreatePost" (click)="createPost()" class="waves-effect waves-light btn">Post</button>
                                    </div>
                                </div>
                            </form>
                </div>
            </div>
        </div>
</div>